.gallery-item {
    width: 33%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px 0;
}

/* .carousel-image {
    height: 200px;
} */

@media only screen and (max-width: 1200px) {
    .gallery-item {
        width: 49%;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-item {
        width: 100%;
    }
}