@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: 'Lato', sans-serif;
}

html {
  --primary-black: #000;
  --primary-white: rgb(236, 236, 236);
  --primary-green: #27ae60;
  --primary-grey: #777;
}

body {
  background-color: var(--primary-black);
}

.App {
  width: 95%;
  margin: 0 auto;
}